language: node_js
node_js:
  - '9'
  - '8'
script: 'yarn test'
cache:
  yarn: true
env: # https://docs.travis-ci.com/user/customizing-the-build#Rows-that-are-Allowed-to-Fail
matrix:
  include:
    - node_js: node
      env: "ALLOW_FAILURES=true"
  allow_failures:
    - node_js: node
      env: "ALLOW_FAILURES=true"
notifications:
  webhooks:
    urls:
      - 'https://www.travisbuddy.com/'
    on_success: never
    on_failure: always
    on_start: never
    on_cancel: never
    on_error: never
