version: 2.1

attach_options: &attach_options
  at: ~/repo

orbs:
  win: circleci/windows@5.0.0

# Command Definitions
# https://circleci.com/docs/2.0/reusing-config/#authoring-reusable-commands
commands:
  custom_attach_workspace:
    description: Attach workspace at a predefined location
    steps:
      - attach_workspace:
          at: ~/repo
  setup_windows:
    steps:
      - run: nvm install 20.11.1
      - run: nvm use 20.11.1
      - run: npm install -g yarn@1.22.19
      - run: node --version
      - run: yarn --version

# Executor Definitions
# https://circleci.com/docs/2.0/reusing-config/#authoring-reusable-executors
executors:
  linux-executor:
    docker:
      - image: cimg/node:20.11
    working_directory: ~/repo

jobs:
  setup:
    executor: linux-executor
    steps:
      # Checkout, Download and cache dependencies
      - checkout
      - restore_cache:
          keys:
            - v3-dependencies-linux-{{ checksum "yarn.lock" }}
      # Install dependencies
      - run: yarn install --frozen-lockfile --non-interactive
      - save_cache:
          key: v3-dependencies-linux-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - persist_to_workspace:
          root: ~/repo
          paths: .

  build-and-test:
    executor: linux-executor
    steps:
      - custom_attach_workspace
      # Build and run tests
      - run: yarn lint
      - run: yarn build
      - run: yarn test:specs
      - run: yarn integration:samples
      - run: yarn integration:specs
      - run: yarn integration:watch:specs
      - run: yarn integration:consumers
      - persist_to_workspace:
          root: ~/repo
          paths: dist

  deploy:
    executor: linux-executor
    steps:
      - custom_attach_workspace
      - run:
          name: Deploying package to npm registry
          command: |
            # CIRCLE_TAG indicates whether the job runs for the tag (as opposed to: the commit on the branch)
            if [ -z "${CIRCLE_TAG}" ]; then
              echo "Skipping deployment. This build job runs for a branch."
              exit 0
            fi
            echo "Deploying..."
            # The git tag that Circle CI checked out
            GIT_TAG=$(git tag -l --points-at HEAD)
            # The npm tag for publishing this release either as "latest" or "next"
            NPM_TAG=latest
            if [[ "${GIT_TAG}" =~ ([0-9]+)\.([0-9]+)\.([0-9]+)-([a-zA-Z]+)\..* ]]; then
              NPM_TAG=next
            fi
            # Build, pack and publish to npm registry
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
            yarn publish:ci
            pushd dist
            npm publish --tag ${NPM_TAG}

  setup-and-test-win:
    executor:
      name: win/default
      shell: powershell.exe
    steps:
      # Checkout, Download and cache dependencies
      - checkout
      - setup_windows
      - restore_cache:
          keys:
            - v3-dependencies-win-{{ checksum "yarn.lock" }}
      # Install dependencies
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn build
      - run: yarn test:specs
      - run: yarn integration:samples
      - run: yarn integration:specs
      - save_cache:
          key: v3-dependencies-win-{{ checksum "yarn.lock" }}
          paths:
            # Get cache dir on windows via `yarn cache dir`
            - C:\Users\circleci\AppData\Local\Yarn\Cache

workflows:
  version: 2.1
  cirunner:
    jobs:
      - setup:
          filters:
            tags:
              only: /.*/
      - build-and-test:
          filters:
            tags:
              only: /.*/
          requires:
            - setup
      - setup-and-test-win:
          filters:
            tags:
              only: /.*/
            branches:
              only:
                - main
          requires:
            - setup
      - deploy:
          requires:
            - build-and-test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
