@import 'baz.theme';
@import 'baz.theme2';
@import 'theme';
@import '~@angular/cdk/overlay';

.foo {
  @include local-test-mixin();
}

.foo2 {
  @include local-test-mixin2();
}

.baz {
  color: $cdk-overlay-dark-backdrop-background;
  background-color: $background-color-bright;
  display: flex;
}
