@import 'theme';
@import '~node-sass/test/fixtures/include-files/file-not-processed-by-loader';

.baz {
    color: $variable-defined-by-file-not-processed-by-loader;
    background-color: $background-color-bright;
}
