name: Publish

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-next.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'
env:
  CI: 'true'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write # Required for OIDC
  contents: read

defaults:
  run:
    shell: bash

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          filter: blob:none
          persist-credentials: false
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - name: Build and test
        run: pnpm test

  publish:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: release
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          filter: blob:none
          persist-credentials: false
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - name: Determine npm tag
        id: npm_tag
        run: |
          GIT_TAG=${{ github.ref_name }}
          NPM_TAG=latest
          if [[ "${GIT_TAG}" =~ ([0-9]+)\.([0-9]+)\.([0-9]+)-([a-zA-Z]+)\..* ]]; then
            NPM_TAG=next
          fi
          echo "NPM_TAG=$NPM_TAG" >> $GITHUB_OUTPUT
      - name: Publish to NPM
        run: |
          pnpm -s publish:ci
          pushd dist
          pnpx npm@^11.5.1 publish --tag ${{ steps.npm_tag.outputs.NPM_TAG }}
